@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #292929;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292929;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  input {
    background-color: var(--background) !important;
    color: var(--foreground) !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--foreground) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer base {
  input, select, textarea {
    color: var(--foreground);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--foreground) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}


